@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
.nav2, .nav2 .menu li, .cart {
  border-bottom: 1px solid #000; }

.nav2 .drawer .toggle span {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.nav {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

#about, #store .main_img, #store .search_row, #contact .title {
  display: flex;
  justify-content: center;
  text-align: center; }

#about .about_container, #contact .title {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 3em 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 8px; }

body {
  color: #000;
  padding: 0 5%;
  background-color: #EAE0D7;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 6em;
  font-weight: 100;
  font-family: 'Cinzel', serif; }

h2 {
  font-size: 4.5em;
  font-weight: 100;
  font-family: 'Cinzel', serif; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.25em;
  font-weight: 100;
  font-family: 'Cinzel', serif; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.125em; }

p {
  font-size: 1em; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

li {
  list-style: none; }

section {
  margin: 3em 0; }

input {
  outline: none;
  border: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif; }

button {
  outline: none;
  font-size: 0.75em;
  cursor: pointer; }

i {
  cursor: pointer; }

.hide {
  display: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

@media (min-width: 768px) {
  button {
    font-size: 1em; } }

@media (min-width: 1024px) {
  body {
    padding: 0 10%; }
  h1 {
    font-size: 8.5em; }
  h2 {
    font-size: 7em; }
  h3 {
    font-size: 5.75em; }
  h4 {
    font-size: 4.25em; }
  h5 {
    font-size: 2em; }
  h6 {
    font-size: 1.75em; }
  p {
    font-size: 1.5em; }
  button {
    font-size: 1.6em; } }

@media (min-width: 1440px) {
  h1 {
    font-size: 12em; }
  h2 {
    font-size: 9em; }
  h3 {
    font-size: 6em; }
  h4 {
    font-size: 4.5em; }
  h5 {
    font-size: 3em; }
  h6 {
    font-size: 2.25em; }
  p {
    font-size: 1.75em; } }

.header {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  text-align: center;
  background-color: #EAE0D7;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0; }
  .header h4 {
    margin: 0.6em 0; }

@media (min-width: 768px) {
  .header {
    display: block; } }

@media (min-width: 1024px) {
  .header {
    padding: 0 10%; } }

.nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 2.4em 0; }
  .nav ul:nth-child(2) {
    display: flex; }
    .nav ul:nth-child(2) li {
      margin: 0 2.4em; }
  .nav ul:last-child li {
    position: relative; }
    .nav ul:last-child li span {
      position: absolute;
      top: -0.6em;
      left: -0.8em;
      font-size: small;
      color: #C6C0BC; }
    .nav ul:last-child li #cart-count {
      position: absolute;
      top: -10px;
      left: -10px;
      font-size: 10px;
      line-height: 10px;
      background: #77726d;
      color: #fff;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
  .nav li {
    font-size: 3em; }
    .nav li a:hover {
      opacity: 0.5; }

@media (min-width: 768px) {
  .nav {
    display: flex; }
    .nav li {
      font-size: 2.4em; } }

@media (min-width: 1024px) {
  .nav li {
    font-size: 3em; } }

.nav2 {
  display: block;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: #EAE0D7; }
  .nav2 .drawer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 5%;
    position: relative; }
    .nav2 .drawer .toggle.active span:nth-child(1) {
      top: 30px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav2 .drawer .toggle.active span:nth-child(2), .nav2 .drawer .toggle.active span:nth-child(3) {
      top: 30px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav2 .drawer .toggle span {
      width: 30px;
      display: block;
      position: absolute;
      -webkit-transition: 0.35s ease-in-out;
      -moz-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out; }
      .nav2 .drawer .toggle span:nth-child(1) {
        top: 20px; }
      .nav2 .drawer .toggle span:nth-child(2) {
        top: 32px; }
      .nav2 .drawer .toggle span:nth-child(3) {
        top: 45px; }
    .nav2 .drawer h3:last-child {
      position: relative; }
      .nav2 .drawer h3:last-child span {
        position: absolute;
        top: -0.6em;
        left: -0.8em;
        font-size: small;
        color: #C6C0BC; }
      .nav2 .drawer h3:last-child #cart-count-sm {
        position: absolute;
        top: -10px;
        left: -10px;
        font-size: 10px;
        line-height: 10px;
        background: #77726d;
        color: #fff;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
  .nav2 .menu {
    position: relative;
    text-align: center;
    transition: 0.5s ease;
    background-color: #EAE0D7;
    -webkit-transform: translateX(-110%);
    z-index: 100; }
    .nav2 .menu.open {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
    .nav2 .menu li {
      font-size: 1.5em;
      padding: 0.8em 0; }
      .nav2 .menu li a {
        display: block; }
        .nav2 .menu li a:hover {
          opacity: 0.5; }

@media (min-width: 768px) {
  .nav2 {
    display: none; } }

.cart {
  display: none;
  padding: 1.2em 0;
  background-color: #EAE0D7; }
  .cart ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%; }
    .cart ul li {
      font-size: 2em; }
      .cart ul li img {
        width: 2.4em;
        height: 2.4em; }
      .cart ul li a:hover {
        opacity: .5; }
      .cart ul li input {
        width: 2.4em;
        height: 2.4em;
        color: #000;
        text-align: center;
        background-color: #EAE0D7; }

@media (min-width: 768px) {
  .cart {
    padding: 2.4em 0;
    border-bottom: 2px solid #000; }
    .cart ul {
      padding: 0; }
      .cart ul li img {
        width: 4em;
        height: 4em; }
      .cart ul li input {
        width: 4em;
        height: 4em; } }

.top {
  margin-top: 16em;
  position: relative; }
  .top h1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
  .top img {
    width: 100%;
    height: 100%;
    margin-top: 24%; }

@media (min-width: 768px) {
  .top {
    margin-top: 24em; }
    .top h1 {
      padding: 0 3em; }
    .top img {
      margin-top: 14%; } }

@media (min-width: 1024px) {
  .top {
    margin-top: 32em; } }

#store .main_img {
  background: url("../img/store.jpg");
  background-size: cover;
  flex-direction: column;
  color: #FFF;
  height: 25vh; }

#store .search_row {
  flex-wrap: wrap;
  margin: 1em 0; }

#store .categories {
  text-align: center; }

#store input {
  background-color: #C6C0BC;
  border-radius: 20px;
  padding: 1em 2em;
  width: 40%;
  font-size: 0.75em; }
  #store input::placeholder {
    color: #FFF; }

#store button {
  background-color: #DAD4CF;
  border: none;
  border-radius: 20px;
  padding: .7em 2.5em;
  margin: 1%;
  color: #FFF;
  text-transform: lowercase; }
  #store button:hover {
    background-color: #C6C0BC; }

#store .swiper-pagination-bullet-active {
  background: #FFF;
  outline: none; }

#store .cards {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1.3em; }
  #store .cards .card {
    background-color: #C6C0BC;
    margin-bottom: 5em; }
    #store .cards .card .hide {
      display: none; }
  #store .cards img {
    width: 100%;
    height: 250px; }
  #store .cards .gallery_img {
    position: relative;
    overflow: hidden; }
    #store .cards .gallery_img:hover .caption {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 30px; }
  #store .cards .caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 13%;
    line-height: 1.7em; }
  #store .cards .card_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0; }
    #store .cards .card_text div {
      display: flex;
      align-items: flex-end;
      color: #FFF;
      margin-top: 1.5em; }
    #store .cards .card_text i {
      font-size: 2em;
      margin-right: .7em; }
      #store .cards .card_text i:hover {
        color: rgba(255, 192, 203, 0.562); }

#store .slide ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 2em 0; }

#store .slide li {
  border: 1px solid #000;
  padding: .5em;
  margin: 1em;
  cursor: pointer; }
  #store .slide li:hover {
    background-color: #000; }

@media (min-width: 768px) {
  #store .main_img {
    height: 40vh; }
  #store .search_row {
    margin: 2em 0; }
  #store input {
    font-size: 1em; }
  #store button {
    padding: .7em 3em; }
  #store .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em; }
    #store .cards .card_text {
      margin: 3em 0; }
    #store .cards img {
      height: 300px; } }

@media (min-width: 1024px) {
  #store .search_row {
    margin: 3em 0; }
  #store input {
    font-size: 1.5em; }
  #store button {
    padding: .7em 3em; }
  #store .cards {
    grid-column-gap: 3.5em; }
    #store .cards .caption {
      line-height: 3em; }
    #store .cards .card_text {
      margin: 5em 0; }
      #store .cards .card_text i {
        font-size: 3em;
        margin-right: .7em; }
    #store .cards img {
      height: 350px; } }

@media (min-width: 1440px) {
  #store .cards img {
    height: 650px; } }

#contact .title {
  flex-direction: column;
  margin-bottom: 2em; }

#contact .content {
  padding: 5% 10%;
  color: #FFF;
  height: 50%;
  background: url("../img/contact.jpg");
  background-size: cover; }
  #contact .content h4 {
    margin-left: -1em; }

#contact .submit {
  display: flex;
  margin: 3em 0; }
  #contact .submit i {
    font-size: 2em; }

#contact .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  #contact .info div:first-child {
    line-height: 2.5em; }
  #contact .info i {
    font-size: 1.3em;
    margin: 0 .2em;
    color: #FFF; }

@media (min-width: 1024px) {
  #contact .info div:first-child {
    line-height: 4em; }
  #contact .info i {
    font-size: 2em; } }

.cp_iptxt {
  position: relative;
  width: 90%; }
  .cp_iptxt input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
    color: #FFF; }
    .cp_iptxt input[type='text']:focus {
      outline: none; }

.ef {
  padding-bottom: 8px;
  border-bottom: 1px solid #FFF;
  background-color: transparent; }

.ef ~ .focus_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.4s;
  background-color: #EAE0D7; }

.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
  width: 100%;
  transition: 0.4s; }

.ef ~ label {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  letter-spacing: 0.5px;
  color: #FFF; }

.ef:focus ~ label, .cp_iptxt.ef ~ label {
  font-size: 1em;
  top: -16px;
  transition: 0.3s;
  color: #EAE0D7; }

@media (min-width: 1024px) {
  label {
    font-size: 2em; } }

footer {
  text-align: center; }
  footer h6 {
    border-top: 1px solid #000;
    padding-top: 2em;
    margin-bottom: 2em; }
