*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-black;
    background-color: $color-primary;
    font-family: 'Open Sans', sans-serif;

    padding: 0 10%;
}

h1 {
    font-size: 6.4em;
}

.nav {
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 768px) {
    body {    
        padding: 0 5%;
    }
}