#contact {

  .title {
    @extend %flex-center;
    flex-direction: column;

    @extend %sectionTop;
    margin-bottom: 2em;
  }

  .content {
    padding: 5% 10%;
    color: $color-white;

    height: 50%;
    background: url('../img/contact.jpg');
    background-size: cover;
  }

  .submit {
    display: flex;
    margin: 3em 0;

    i {
      font-size: 2em;
    }

  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    div:first-child {
      line-height: 2.5em;
    }

    i {
      font-size: 1.3em;
      margin: 0 .2em;
      color: $color-white;
    }
  }
}

@media (min-width: 1024px) {
  #contact {

    .info {
      div:first-child {
        line-height: 4em;
      }
      i {
        font-size: 2em;
      }
    }
  }
}