// border
%border-1 {
    border: 1px solid $color-black;
}
%border-b-1 {
    border-bottom: 1px solid $color-black;
}
%border-b-2 {
    border-bottom: 2px solid $color-black;
}
%border-y-1 {
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
}
%border-y-2 {
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
}

%flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

%sectionTop {
    width: 100%;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    padding: 3em 0;
}