.header {
    display: none;
    
    width: 100%;

    margin: 0;
    padding: 0 5%;
    text-align: center;
    background-color: $color-primary;

    position: fixed;
    z-index: 100;

    top: 0;
    left:0;

    h4 {
        margin: 0.6em 0;
    }
}

@media (min-width: 768px) {
    .header {
        display: block;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0 10%;
        h4 {
            margin: 0.4em 0;
            font-size: 4em;
        }
    }
}