.nav {
    display: none;
    @extend %border-y-2;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4em 0;
        
    
        ul:nth-child(2) {
            display: flex;
            li {
                margin: 0 2em;
            }
        }
    
        li {
            font-size: 3em;
        }

        a {
            color: $color-black;
            &:hover {
                opacity: .5;
            }
        }
    }
}