.nav {
  display: none;

  align-items: center;
  justify-content: space-between;
  padding: 2.4em 0;
  @extend %border-y-2;

  ul:nth-child(2) {
    display: flex;
    li {
      margin: 0 2.4em;
    }
  }
  ul:last-child {
    li {
      position: relative;
      span {
        position: absolute;
        top: -0.6em;
        left: -0.8em;
        font-size: small;
        color: $color-secondary;
      }

      #cart-count {
        position: absolute;
        top: -10px;
        left: -10px;
        font-size: 10px;
        line-height: 10px;
        background: #77726d;
        color: #fff;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }
  li {
    font-size: 3em;
    a {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    li {
      font-size: 2.4em;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    li {
      font-size: 3em;
    }
  }
}
