.top {
    margin-top: 16em;
    position: relative;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        
        text-align: center;
    }
    img {
        width: 100%;
        height: 100%;
        margin-top: 24%;
    }
}

@media (min-width: 768px) {
    .top {
        margin-top: 24em;
        h1 {
            padding: 0 3em;
        }
        img {
            margin-top: 14%;
        }
    }
}

@media (min-width: 1024px) {
    .top {
        margin-top: 48em;
    }
}